.youtube-video-page-section {
   /* width: 100vw; */
   padding: 1rem 4rem;
   display: flex;
}

.youtube-video-page-video-contain-video {
   width: 854px;
   height: 480px;
   width: 60vw;
}

.youtube-video-page-video-container {
}

.youtube-video-page-section-video-details {
}

.youtube-video-page-section-video-details-container {
   color: white;
   width: 60vw;
}

.youtube-video-page-section-video-details-container-top-tag {
   color: #3ea6ff;
}

.youtube-video-page-section-video-details-container-top {
   margin: 0.5rem 0;
}

.youtube-video-page-section-video-details-container-top-video-title {
   color: white;
   margin: 0.3rem 0;
}

.youtube-video-page-section-video-details-container-top-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0.5rem 0;
}

.youtube-video-page-section-video-details-container-top-left-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.youtube-video-page-section-video-details-container-top-left-container-left {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.youtube-video-page-section-video-details-container-top-channel-icon {
   background-color: #313131;
   border-radius: 50%;
   height: 50px;
   width: 50px;
   margin-right: 0.5rem;
}

.youtube-video-page-section-video-details-container-top-channel-info {
   margin: 0 0.5rem;
}

.youtube-video-page-section-video-details-container-top-subscribe {
   margin: 0 0.5rem;
}

.youtube-video-page-section-video-details-container-top-right-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.youtube-video-page-section-video-details-container-bottom {
   background-color: #313131;
   border-radius: 0.5rem;
   padding: 0.5rem;
   margin: 1rem 0;
   cursor: pointer;
}

/* .youtube-video-page-section-video-details-container-bottom:hover {
   background-color: #606060;
} */

.youtube-video-page-hover:hover {
   background-color: #606060;
}

.youtube-video-page-hover-remove:hover {
   background-color: #313131;
}

.youtube-video-page-description-section {
   white-space: pre-wrap;
}

.youtube-video-page-show-more {
   margin: 0.5rem;
   margin-bottom: 0;
   font-weight: 500;
   cursor: pointer;
}

.youtube-video-page-section-recommendation {
   width: 20vw;
   margin-left: 2rem;
}
