.main-container{
    overflow-y: scroll;
    height: 80vh;
    padding: 1rem 2rem;
 }
 
 /* .main-container:hover{
    overflow-y: scroll;
 } */
 
 /* .main-contain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 } */

 .demo{
   display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 }
 