.category-bar-container {
}

.category-bar-section {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   overflow-x: scroll;
}

.category-bar-section:hover::after {
   font-family: "material symbols outlined";
   content: "chevron_left";
   position: absolute;
   font-size: 2rem;
   background-color: black;
   box-shadow: 1rem 0 0.5rem black;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.category-bar-section:hover::before {
   font-family: "material symbols outlined";
   content: "chevron_right";
   position: absolute;
   font-size: 2rem;
   background-color: black;
   box-shadow: -1rem 0 0.5rem black;
   color: white;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.category-bar {
   background-color: black;
   /* padding: 0.5rem; */
}

.category-bar-section::-webkit-scrollbar {
   display: none;
}

.category-bar-contain {
   background-color: #212121;
   padding: 0.5rem 0.8rem;
   margin-right: 1rem;
   border-radius: 10px;
   color: #ffffff;
   cursor: pointer;
}

.category-bar-contain:hover {
   background-color: #313131;
}

.category-bar-contain-active {
   padding: 0.5rem 0.8rem;
   margin-right: 1rem;
   border-radius: 10px;
   cursor: pointer;
   background-color: white;
   color: black;
}
