.youtube-recommendation-video-section {
   width: 30vw;
   position: relative;
}

.youtube-recommendation-video-category-bar-section {
   
}

.youtube-recommendation-video-container {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   margin-top: 1rem;
}

.youtube-search-video-container-image {
   
}


.youtube-recommendation-video-thumbnail {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;
   cursor: pointer;
}

.youtube-recommendation-video-thumbnail-image {
   width: 175px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.youtube-recommendation-video-thumbnail-img {
   width: 100%;
   border-radius: 0.5rem;
}

.youtube-recommendation-video-thumbnail-timer {
   background-color: rgba(0, 0, 0, 0.712);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
   padding: 0.1rem 0.3rem;
   position: absolute;
   bottom: 0.3rem;
   right: 0.4rem;
}

.youtube-recommendation-video-thumbnail-timer-text {
   color: #ffffff;
   font-size: 0.8em;
   font-weight: 500;
}


.youtube-recommendation-video-details {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   margin: 0.5rem;
   color: #ffffff;
}

.youtube-recommendation-video-details-left {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
   cursor: pointer;
}

.youtube-recommendation-video-details-title {
   color: white;
   font-size: 1em;
}

.youtube-recommendation-video-details-more-details {
   color: #aaaaaa;
   font-size: 0.8em;
}

.youtube-recommendation-video-details-channel-section {
   display: flex;
   justify-items: center;
   align-items: center;
   margin: 0.4rem 0;
}

.youtube-recommendation-video-details-channel-name {
   color: #aaaaaa;
   font-size: 0.9em;
   font-weight: 500;
   cursor: pointer;
}

.youtube-recommendation-video-details-channel-name:hover {
   color: #ffffff;
}

.youtube-recommendation-video-details-right {
   margin-left: .3rem;
   color: white; 
   position: relative;
}

/* .youtube-recommendation-video-details:hover::before {
   font-family: "Font Awesome 5 Free";
   content: "\f142";
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   position: absolute;
   font-weight: 900;
   right: 5rem;
   margin-top: 0.1rem;
} */

