.header {
   padding: 1rem 1.5rem;
   background-color: #000000;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   width: 100vw;
   z-index: 8;
}

.header-section {
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.header-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 1rem;
   color: white;
}

.logo-img {
   height: 30px;
   padding: 0.2rem;
}

.search-bar-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.search-input {
   border: 1px solid #303030;
   border-radius: 10rem 0 0 10rem;
   padding: 0.25rem;
}

.search-input:hover {
   border: 1px solid #0070d1;
}

.input {
   outline: none;
   border: none;
   width: 30rem;
   color: #ffffff;
   padding: 1rem;
   height: 2rem;
   font-size: 1.2em;
   background-color: transparent;
}

.search-btn {
   border-radius: 0 10rem 10rem 0;
   outline: none;
   border: none;
   background-color: transparent;
}

.search-icon {
   border: 1px solid #303030;
   padding: 0.5rem 1.5rem;
   height: 100%;
   background-color: #212121;
   border-radius: 0 10rem 10rem 0;
   border-left: 1px solid #303030;
   cursor: pointer;
}

.mic-container {
   padding: 0.5rem 0.65rem;
   background-color: #212121;
   border-radius: 50%;
   margin-left: 1rem;
   cursor: pointer;
}

.mic-container:hover {
   background-color: #303030;
}

.header-notification-icon {
   margin: 0 0.5rem;
}

.header-left-icon {
   padding: 0.5rem;
   border-radius: 50%;
   cursor: pointer;
}

.header-left-icon:hover {
   background-color: #303030;
}

.header-user-icon {
   background-color: #303030;
}
