.youtube-search-video-container {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;
   cursor: pointer;
}

.youtube-search-video-container-image {
   width: 360px;
   /* height: 180px; */
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.youtube-search-video-container-img {
   width: 100%;
   /* height: inherit; */
   border-radius: 0.5rem;
}

.youtube-search-video-container-timer {
   background-color: rgba(0, 0, 0, 0.712);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
   padding: 0.1rem 0.3rem;
   position: absolute;
   /* bottom: 0.5rem; */
   bottom: 2.3rem;
   right: 0.4rem;
}

.youtube-search-video-container-timer-text {
   color: #ffffff;
   font-size: 0.9em;
   font-weight: 500;
}
