.icon {
   color: #ffffff;
   font-size: 24px;
}

a {
   text-decoration: none;
}

::-webkit-scrollbar {
   width: 8px;
   background-color: #000000;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   background-color: #000000;
}

::-webkit-scrollbar-thumb {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   background-color: #ababab;
}

.text-para-bold{
   font-weight: 500;
   font-size: 1em;
}

.text-para{
   margin: .3rem 0;
   font-size: 1em;
}

.text-para-small{
   font-size: .8rem;
   color: #797979;
   font-weight: 500;
   margin: .5rem 0;
}


.bg-btn{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #313131;
   border-radius: 1.2rem;
   padding: .5rem .8rem;
   margin-right: .5rem;
   cursor: pointer;
}

.bg-btn:hover{
   background-color: #212121;

}

.bg-round{
   border-radius: 50%;
   padding: .5rem;
}

.icon-small{
   font-size: 1.2rem;
}

.margin-right{
   margin-right: .5rem;
}

.vertical-line{
   height: 1.2rem;
   width: 1px;
   margin: 0 .5rem;
   background-color: #797979;
}

.full-body {
   display: flex;
   height: calc(100vh - 4.7rem);
   top: 4.7rem;
   position: relative;
}

.main-body {
   width: 85vw;
   /* position:absolute; */
   position: relative;
   padding: 1rem 2rem;
   overflow-y: scroll;
   height: 90vh;
   /* background-color: whitesmoke; */
}

.main-hr {
   background-color: #212121;
   height: 2px;
   margin: 1.5rem 0;
   width: 100%;
}

.extra-text {
   font-size: 1.1em;
   color: white;
   margin-bottom: 1.5rem;
   margin-left: 0.5rem;
   font-weight: 500;
}

.youtube-video-page {
  display: flex;
  height: calc(100vh - 4.7rem);
  top: 4.7rem;
  position: relative;
}

