.icon {
   color: #ffffff;
   font-size: 24px;
}

a {
   text-decoration: none;
}

::-webkit-scrollbar {
   width: 8px;
   background-color: #000000;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   background-color: #000000;
}

::-webkit-scrollbar-thumb {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   background-color: #ababab;
}

.text-para-bold {
   font-weight: 500;
   font-size: 1em;
}

.text-para {
   margin: 0.3rem 0;
   font-size: 1em;
}

.text-para-small {
   font-size: 0.8rem;
   color: #797979;
   font-weight: 500;
   margin: 0.5rem 0;
}

.display-none {
   display: none;
}
.display-block {
   display: block;
}

.bg-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #313131;
   border-radius: 1.2rem;
   padding: 0.5rem 0.8rem;
   margin-right: 0.5rem;
   cursor: pointer;
}

.bg-btn:hover {
   background-color: #212121;
}

.bg-round {
   border-radius: 50%;
   padding: 0.5rem;
}

.icon-small {
   font-size: 1.2rem;
}

.margin-right {
   margin-right: 0.5rem;
}

.vertical-line {
   height: 1.2rem;
   width: 1px;
   margin: 0 0.5rem;
   background-color: #797979;
}

.full-body {
   display: flex;
   height: calc(100vh - 4.7rem);
   top: 4.7rem;
   position: relative;
}

.main-body {
   width: 85vw;
   /* position:absolute; */
   position: relative;
   padding: 1rem 2rem;
   overflow-y: scroll;
   height: 90vh;
   /* background-color: whitesmoke; */
}

.main-hr {
   background-color: #212121;
   height: 2px;
   margin: 1.5rem 0;
   width: 100%;
}

.extra-text {
   font-size: 1.1em;
   color: white;
   margin-bottom: 1.5rem;
   margin-left: 0.5rem;
   font-weight: 500;
}

.youtube-video-page {
   display: flex;
   height: calc(100vh - 4.7rem);
   top: 4.7rem;
   position: relative;
}

.demo-name {
   color: #ffffff;
}

.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: red;
   color: white;
   padding: 0.8rem 1rem;
   font-weight: 500;
   font-size: 1rem;
   border-radius: 0.5rem;
   margin: auto;
   margin-top: 1rem;
   cursor: pointer;
   transition: all ease 0.5s;
}

.btn:active {
   transform: scale(1.01);
}

@media screen and (max-width: 950px) {
   .input {
      width: 20rem;
   }
   .sidebar {
      /* width: 15vw; */
      display: none;
   }

   .main-body {
      width: 100vw;
   }

   .youtube-api-container {
      grid-template-columns: 1fr 1fr 1fr;
   }

   .video-container-section {
      width: 250px;
   }

   .video-container-image {
      width: 250px;
   }

   .YoutubeSearchSection {
      width: 100vw;
   }

   .youtube-video-page-section {
      padding: 1rem;
   }

   .youtube-video-page-video-contain-video {
      width: 60vw;
      height: 360px;
   }

   .youtube-video-page-section-video-details-container {
      width: 60vw;
   }

   .youtube-video-page-section-video-details-container-top-section {
      display: flex;
      justify-content: flex-start;
      flex-direction: column-reverse;
      align-items: flex-start;
      margin: 1rem 0;
   }

   .youtube-video-page-section-video-details-container-top-left-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-top: 1rem;
   }

   .youtube-video-page-section-recommendation {
      width: 30vw;
      margin-left: 1.2rem;
   }

   .youtube-recommendation-video-section {
      width: 40vw;
   }
}

@media screen and (max-width: 800px) {
   .input {
      width: 15rem;
   }

   .main-body {
      padding: 0;
   }

   .youtube-api-container {
      grid-template-columns: 1fr 1fr;
   }

   .video-container-section {
      width: 310px;
   }

   .video-container-image {
      width: 310px;
   }

   .youtube-video-page-section {
      padding: 1rem 0;
      flex-direction: column;
   }

   .youtube-video-page-video-contain-video {
      width: 100vw;
      height: 360px;
   }

   .youtube-video-page-section-video-details-container {
      width: 100vw;
      padding: 0.5rem 1rem;
   }

   .youtube-video-page-section-recommendation {
      width: 90vw;
      margin-left: 1rem;
   }

   .youtube-recommendation-video-section {
      width: 90vw;
   }

   .youtube-recommendation-video-category-bar-section {
      padding: 1rem 0;
      /* padding-right: 1rem; */
   }
}

@media screen and (max-width: 500px) {
   .header {
      padding: 0.8rem;
   }

   .input {
      width: 10rem;
      padding: 0.8rem;
      height: 1.5rem;
      font-size: 1em;
   }

   .search-icon {
      padding: 0.3rem 0.6rem;
   }

   .mic-container {
      /* padding: 0.4rem 0.55rem;
      margin-left: 0.5rem; */
      display: none;
   }

   .header-notification-icon {
      margin: 0 0.2rem;
   }
   .header-left-icon {
      padding: 0.4rem;
   }

   .logo {
      display: none;
   }

   .youtube-api-container {
      grid-template-columns: 1fr;
   }

   .video-container-section {
      width: 100%;
   }

   .video-container-image {
      width: 100%;
   }

   .video-container-details-right {
      margin-left: 0.5rem;
   }

   .YoutubeSearchSection {
      padding: 0;
   }

   .youtube-search-channel-container {
      width: 200px;
   }

   .youtube-search-channel-container-details {
      padding: 0.5rem;
   }

   .youtube-search-video-section {
      flex-direction: column;
      margin-bottom: 0.5rem;
   }

   .youtube-search-video-container-image {
      width: 100%;
   }

   .youtube-search-video-container-details {
      margin: 0;
      margin-top: 1rem;
      margin-left: 1rem;
      width: 90vw;
   }

   .youtube-search-video-container-details-padding {
      padding: 0 0.5rem;
   }

   .youtube-video-page-video-contain-video {
      width: 100vw;
      height: 240px;
   }

   .youtube-video-page-section-video-details-container-top-right-container {
      overflow-x: scroll;
      width: 90vw;
      padding: 0.5rem 1rem;
      padding-left: 8rem;
   }

   .youtube-video-page-section-video-details-container-top-right-container::-webkit-scrollbar {
      display: none;
   }
}
